body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
    font-size: 30px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 75%;
    padding-top: 25px;
    margin-left: 20px;
}
.link-down{
    margin-top: 40px;
}
.link{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 30px;
    font-weight: bolder;
}
.top-banner{
    background-image: url(/third-repo/images/top-banner.png);
    background-repeat: no-repeat;
}
#space{
    margin-bottom: 20px;
}
.dream-big{
    background-image: url(/third-repo/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.web-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    
    
    
}
h2{
    font-size: 35px;
}

.expriences{
    background-image: url(/third-repo/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
footer{
    text-align: center;
}
#web-dev{
    border-image: linear-gradient(blue, cyan);
    border-left: 5px solid;
    border-image-slice: 1;
}
#full-dev{
    border-image: linear-gradient(orange, tomato);
    border-left: 5px solid;
    border-image-slice: 1;
}
}
